---
export interface Props {
  title: string;
  className?: string;
  hiring?: boolean;
  transparent?: boolean;
}

const { title, className, hiring, transparent } = Astro.props;
---

{
  hiring ? (
    <div>
      <span class={`${className} py-1 px-[4px] rounded-sm w-max`}>{title}</span>
      <span class="text-xs">&larr; Contact me to change this</span>
    </div>
  ) : (
    <span class={`${className} p-[4px] rounded-sm w-max`}>
      <p
        class={!transparent ? "bg-[#212121] px-4 py-[2px] font-semibold" : null}
      >
        {title}
      </p>
    </span>
  )
}
