---
import InfoBadge from "./InfoBadge.astro";
---

<section class="flex justify-center items-center gap-8 flex-col md:flex-row">
  <div class="relative w-max">
    <span
      class="absolute -inset-0.5 bg-gradient-to-r from-supa-green to-supa-white rounded-full blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
    ></span>
    <span
      class="absolute -inset-[1px] bg-gradient-to-r from-supa-green to-supa-white rounded-full"
    ></span>
    <img
      src="/images/myface.jpg"
      class="relative w-32 h-32 rounded-full"
      alt="A picture of Juan Rojas, looking directly to the camera.
      Juan is a person with tanned skin color and black hair, in this
      picture he is wearing a blue tshirt"
    />
  </div>
  <div class="flex flex-col gap-2 font-medium self-start md:self-auto">
    <InfoBadge title="Globant 💼" className="bg-[#8CC63E]" hiring />
    <InfoBadge
      title="Mid level frontend developer"
      className="bg-supa-white text-black"
    />
    <InfoBadge title="Colombia 🇨🇴" className="border-2 text-white" />
  </div>
</section>
